.header-container {
  background-color: #cacaca;
}

h1 {
  margin: 0px;
  padding-top: .5em;
  padding-left: .5em;
}

body {
  margin: 0px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}


header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

header li {

}

.gallery {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;

}

.container-border {
  border-style: solid;
  width: 424px; height: 424px;
  border-color: #cacaca;
  border-radius: 4px;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
